{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h1>About</h1>
<p>This is a side project made by me <a href="https://github.com/rachit1601">(Rachit)</a>. Its open source. You can check out its source code on github: <a href="https://github.com/rachit1601/triviaquiz">https://github.com/rachit1601/triviaquiz</a></p>
{% endblock %}